<button class="toggle-theme" onclick="showTheme()">
    <i id="theme-icon" class="fas fa-sun"></i>
    <!-- <h3>Theme</h3> -->
</button>











<!-- -----------------CONTACT US MAIL---------------------------- -->

<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-9ccaa9de-fa46-4379-9431-ad58d0b339ac" data-elfsight-app-lazy></div>

<!-- https://dash.elfsight.com/widget/9ccaa9de-fa46-4379-9431-ad58d0b339ac -->



<!-- -----------------INSTAGRAM CHAT------------------------------ -->

<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-b4b2adc8-cf03-45c3-aa6c-f8f54be3e155" data-elfsight-app-lazy></div>

<!-- https://dash.elfsight.com/widget/b4b2adc8-cf03-45c3-aa6c-f8f54be3e155 -->



<!-- ------------------TELEGRAM CHAT------------------------------- -->


<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-e681f93c-86e6-49a1-b17b-aca8b8e85fde" data-elfsight-app-lazy></div>

<!-- https://dash.elfsight.com/widget/e681f93c-86e6-49a1-b17b-aca8b8e85fde -->











<!-- --------------------Footer------------------------ -->
<footer class="darkable text-gray-300 body-font footer darkable shopingmargbotm">
    <hr class="darkable absolute-top-hr">
    <div
        class="darkable  justify-between container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="darkable  w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left mt-0">
            <a
                class="darkable  flex-wrap title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img class="darkable  col-span-1 max-h-12 object-contain" src="../Images/logo3-removebg-preview.png"
                        alt="Learning Heaven" width="158" height="48" id="footerlogo">
                <span class="darkable  ml-3 text-xl">Learning Heaven</span>
            </a>
            <p class="darkable  mt-2 text-sm text-gray-500">Code Like A Boss With Learning Heaven.</p>
        </div>
        <div
            class="darkable  flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center justify-end">
            <div class="darkable lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="darkable  title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Pages</h2>
                <ul class="darkable  list-none mb-10">
                    <li><a href="/" class="darkable  text-blue-600">Home</a></li>
                        <li><a href="/courses" class="darkable  text-blue-600">Courses</a></li>
                        <li><a href="/resources" class="darkable  text-blue-600">Resources</a></li>
                        <li><a href="/products" class="darkable  text-blue-600">Products</a></li>
                        <li><a href="/contact" class="darkable  text-blue-600">Contact Us</a></li>
                        <li><a href="/placements" class="darkable  text-blue-600">Placements</a>
                        </li>
                </ul>
            </div>
            <div class="darkable  lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="darkable  title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Social Links
                </h2>
                <ul class="darkable  list-none mb-10">
                    <li><a class="darkable  text-blue-600">First Link</a></li>
                    <li><a class="darkable  text-blue-600">Second Link</a></li>
                    <li><a class="darkable  text-blue-600">Third Link</a></li>
                    <li><a class="darkable  text-blue-600">Fourth Link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="darkable absolute-top-hr">
    <div class="darkable bg-gray-100 darkable shopingmargbotm">
        <div class="darkable  container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row text-center">
            <p class="darkable  text-gray-500 text-sm text-center sm:text-left">Made with ❤️ <a
                    href="https://twitter.com/knyttneve" rel="noopener noreferrer"
                    class="darkable  text-gray-600 ml-1" target="_blank">by Somnath Kaushik</a></p>
            <span class="darkable  inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                <a class="darkable  text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="darkable w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="darkable  ml-3 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="darkable w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="darkable  ml-3 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="darkable  w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="darkable  ml-3 text-gray-500">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="darkable w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </div>
</footer>









  <!-- -----------Learning Heaven------------------ -->

  <div id="load">
    <div>L</div>
    <div>E</div>
    <div>A</div>
    <div>R</div>
    <div>N</div>
    <div>I</div>
    <div>N</div>
    <div>G</div>
    <div> </div>
    <div> </div>
    <div> </div>
    <div>H</div>
    <div>E</div>
    <div>A</div>
    <div>V</div>
    <div>E</div>
    <div>N</div>
    <!-- <div>L</div>
      <div>A</div>
      <div>U</div> -->
  </div>



  <!-- ----------------------Cursor------------------------

  <div id="cursor">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </div>
  <script src="../Components/Cursor.js"></script> -->
